[user]
	name = Sullivan S.
	email = soullivaneuh@gmail.com
	signingkey = FD4E6361

[alias]
	amend = commit --amend
	f = fetch --all --prune --tags --prune-tags
	df = diff
	dfc = diff --cached
	d = diff
	dc = diff --cached
	co = checkout
	ci = commit
	br = branch
	t = tag
	who = shortlog -sne
	oneline = log --pretty=oneline --abbrev-commit --decorate --graph
	changes = diff --name-status
	dic = diff --cached
	diffstat = diff --stat
	lc = !git oneline ORIG_HEAD.. --stat --no-merges
	addm = !git-ls-files -m -z | xargs -0 git-add && git status
	addu = !git-ls-files -o --exclude-standard -z | xargs -0 git-add && git status
	rmm = !git ls-files -d -z | xargs -0 git-rm && git status
	# https://github.com/caarlos0/git-add-remote
	add-upstream = !zsh -ic \"add-upstream $*\"
	add-remote = !zsh -ic \"add-remote $*\"

[color]
	ui = true

[fetch]
	prune = true

[commit]
	gpgsign = true

[push]
	default = simple

[tag]
	# @see https://stackoverflow.com/a/22634649/1731473
	sort = -v:refname

[credential]
	helper = cache --timeout=3600

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[pager]
	log = diff-highlight | emojify | less
	show = diff-highlight | less
	diff = diff-highlight | less

[ghq]
	root = ~/p

[gpg]
	program = /usr/bin/gpg2

[pull]
	rebase = false

[init]
	defaultBranch = main
