/.config/*
!/.config/.gitkeep
!/.config/dunst/
!/.config/fontconfig/
!/.config/i3/
!/.config/Kvantum
!/.config/oomox/
/.config/oomox/*
!/.config/oomox/colors/
!/.config/polybar/
!/.config/rofi/
!/.config/terminator/
!/.config/termite/
!/.config/youtube-dl/
!/.config/xfce4
/.config/xfce4/*
!/.config/xfce4/terminal
/.config/xfce4/terminal/*
!/.config/xfce4/terminal/terminalrc
/.docker/buildx/
/.docker/config.json
/.docker/.buildNodeID
/.docker/.token_seed
/.docker/.token_seed.lock
/.gnupg/*
!/.gnupg/gpg.conf
/.SpaceVim.d/.netrwhist
/.vim/.netrwhist
/.vim/autoload/plug.vim
/.vim/plugged/
