/.config/*
!/.config/.gitkeep
!/.config/i3/
!/.config/polybar/
!/.config/rofi/
!/.config/terminator/
!/.config/youtube-dl/
/.docker/config.json
/.gnupg/*
!/.gnupg/gpg.conf
/.vim/.netrwhist
/.vim/autoload/plug.vim
/.vim/plugged/
